force-app/main/default/flows/CS_CreateSatisfactionScoreOnCaseClosure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Generated by CSAgent | 2026-04-22 | Auto-creates a CS_SatisfactionScore__c record when a Case is closed. Includes duplicate check — only creates one score per Case.</description>
    <environments>Default</environments>
    <interviewLabel>CS_CreateSatisfactionScoreOnCaseClosure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CS_CreateSatisfactionScoreOnCaseClosure</label>
    <processType>AutoLaunchedFlow</processType>

    <!-- START: Record-Triggered After Update on Case -->
    <!-- Entry filter: Status is now Closed AND was not Closed before -->
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_Score</targetReference>
        </connector>
        <filterFormula>AND(
  ISPICKVAL({!$Record.Status}, &quot;Closed&quot;),
  NOT(ISPICKVAL({!$Record__Prior.Status}, &quot;Closed&quot;))
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>

    <status>Active</status>

    <!-- STEP 1: Get existing CS_SatisfactionScore__c for this Case (duplicate check) -->
    <recordLookups>
        <name>Get_Existing_Score</name>
        <label>Get Existing Score</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Score_Already_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CS_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CS_SatisfactionScore__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- STEP 2: Decision — does a score already exist for this Case? -->
    <decisions>
        <name>Score_Already_Exists</name>
        <label>Score Already Exists?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Create_Satisfaction_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No — Create Score</defaultConnectorLabel>
        <!-- Yes path has no connector — flow ends (do nothing, score already exists) -->
        <rules>
            <name>Yes_Score_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Score</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes — Score Exists</label>
        </rules>
    </decisions>

    <!-- STEP 3: Create new CS_SatisfactionScore__c -->
    <!-- CS_Rating__c is intentionally left blank — agent fills it in -->
    <!-- Validation rule allows blank on creation (NOT(ISNULL()) guard) -->
    <recordCreates>
        <name>Create_Satisfaction_Score</name>
        <label>Create Satisfaction Score</label>
        <locationX>176</locationX>
        <locationY>422</locationY>
        <inputAssignments>
            <field>CS_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CS_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>CS_SatisfactionScore__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

</Flow>
